body {background-color: #1E3C6E}

nav.navbar.navbar-expand-lg.navbar-light.bg-light a {
  color: #1E3C6E !important;
}

nav.navbar {
  border-top: 2px solid #1E3C6E;
  border-bottom: 2px solid #1E3C6E;
  }

.container {background-color: white}

.col {
  margin: 1em 0 !important;
}