body {background-color: #1E3C6E}

nav.navbar {
  border-top: 2px solid #1E3C6E;
  border-bottom: 2px solid #1E3C6E;
  }

nav.navbar.navbar-expand-lg.navbar-light.bg-light a {
  color: #1E3C6E !important;
  text-transform: lowercase;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light a:hover {
  color: #FF2E00 !important;
}

nav .active {
  border-bottom: 2px solid #FF2E00;
  }

.col {
  margin: 1em 0 !important;
}

h1  {font-size: 140%;}
h2  {
  font-size: 130%;
  color: #FDA600;
  margin: 1rem 0 0;
  }

h3  {
  font-size: 120%;
  color: #fdc458;
  margin: 1rem 0 0;
  }


a:hover {color: #FF2E00}

div.masthead {background: #FDA600; color: white; font-weight: bold;
  padding-top: 1em; padding-bottom: 1em;}

div.masthead p {padding: 0; margin: 0;}

.py-3 {background-color: white}

.container {
  padding-left: 50px;
  padding-right: 50px;
}

.container.main {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  }

.container .special {
  background: #d9e7ff;
  padding-top: 1rem;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: -50px;
  margin-right: -50px;
}

table thead {background-color: #FDA600; color: white;}

/* -------- footer --------- */

footer {
  position: absolute;
  top: 0;
  right: 100%;
  transform: rotate(-90deg);
  transform-origin: top right;
  white-space: nowrap;
  font-weight: bold;
}

footer a {
  color: #1E3C6E;
  font-weight: bold;
  margin-left: 1em; margin-right: 1em;
  letter-spacing: 1px;
}

footer a:hover {
  color: #FDA600;
  text-decoration: none;
}

@media screen and (min-width: 600px) {
  footer {margin-right: 2em;}
  footer a {color: #FDA600;}
  footer a:hover {color: white}
}


.btn-primary {
  color: #ffbd3f;
  background-color: #1E3C6E;
  border-color: #1E3C6E;
  font-weight: bold;
}

.btn-primary:hover {
  font-weight: bold;
  color: #1E3C6E;
  background-color: #ffbd3f;
}
